body{
  background-color: rgb(66, 66, 66);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  text-align: center;
}

.difficultyAndScore label {
  display: block;
  margin-bottom: 10px;
}
.difficultyAndScore input {
  display: block;
  margin: auto;
}

#myCanvas {
  margin-top: 30px;
  border: 1px solid black;
}